@import 'base/normalize';
@import 'base/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Source+Sans+Pro:wght@400;600&display=swap');


* {
	box-sizing: border-box;
	background: $bg-color;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}
.container {
	max-width: 1380px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
button, select,
button:active, select:active,  
button:focus, select:focus  {
	outline: none;
	border-style: none;
}

@import 'blocks/add';
@import 'blocks/btn';
@import 'blocks/post';


@media (max-width: 1400px) {
	.container {
		max-width: 1200px;
	}
}

@media (max-width: 1250px) {
	.container {
		max-width: 900px;
	}
}