@import 'normalize.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Source+Sans+Pro:wght@400;600&display=swap');
// @import 'variables.scss';


* {
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #fffefb;  
}

.container {
  max-width: 1400px;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.title {
  color: #595959;
  margin-top: 0;
}
.posts {
  width: 1028px;
  display: block;
}


.post-wrapper, .post-wrapper-active {
  display: block;
}
.post {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}

.post-body {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0;
}
.post-title,
.post-price {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.post-text {
  color: #262626;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.post-footer {
  border-top: 1px solid #e8e8e8;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button {
  font-family: 'Inter', sans-serif;
  background: #eeeeee;
  border-radius: 10px;

  border: none;
  text-decoration: none;
  color: #b4b4b4;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
  cursor: pointer;
}
.button-outline {
  background: #ffffff;
  border: 1px solid grey;
  border-radius: 4px;
  color: grey;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}
.button-outline .icon {
  width: 14px;
  height: 11px;
  fill: grey;
}

.add {
  display: flex;
  flex-direction: column;
}
.add-product {
  display: flex;
  flex-direction: column;
  width: 332px;
  height: 440px;
  border-radius: 4px;
}
.add-title,
.add-descr,
.add-link,
.add-price {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  padding: 23px 30px;
  margin-bottom: 16px;
  height: 36px;
  width: 284px;
}
.add-descr {
  resize: none;
  height: 108px;
  
}
.add-button {
  height: 36px;
  width: 284px;
}
.add-product .button-outline {
  margin-right: 1%;
}


@media (max-width: 990px) {
 
  .container {
    margin-top: 94px;
    margin-bottom: 60px;
  }
  .posts {
    width: 100%;
  }
}


@media (max-width: 676px) {
  
  .add-button {
    width: 100%;
    max-width: 100%;
  }
  .add-product .button-outline {
    margin-right: 0;
    margin-top: 10px;
  }
}


@media (max-width: 576px) {
  .post-footer {
    flex-direction: column;
  }
}